h1, h2, h3, h4, h5, h6, p, form {
  text-align: initial;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration-color:rgb(31, 30, 32)
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

div {
  background: white;
padding: 30px;
border-radius: 4px;
}
